{% extends "templates/template.twig" %}
{% block content %}

    <div class="ed-item s-100 no-padding">
        <h1 class="text-center">Módulo Certificados</h1>
    </div>
    <div class="ed-container center-block">
        <div class="ed-item s-100">
            <p>Acá podemos colocar información asi general</p>
        </div>
    </div>
{% endblock %}